#mainstats {
    display: flex;
    width:70%;
    align-self:center;
    align-items:center;
    justify-content: center;
}
.header-player {
    font-family: monospace;
    font-size: 2%;
    color: maroon;
    background-color:white
}
body {
    height:100%;
    background-color: darkgray;
    background-image: "logo.png";
}
#headerrow {
    background-color: lightgray
}
