#mainstats {
    position:absolute;
    top: 50%;
    left: 50%;
    width:70%;
    background-color:black;
}
.header-player {
    font-family: monospace;
    color: maroon;
    background-color:white
}
body {
    height:100%;
    width:100%;
    background-color: darkgray;
    background-image:url("logo.png")
}
#headerrow {
    background-color: lightgray
}
.default-header {
    width: 12.5%;
    font-family:monospace;
    color: black;
    background-color: lightgray
}
.default-data {
    width: 12.5%;
    font-family:monospace;
    color:black;
    background-color:lightgray
}
