.testtext {
    color: brown;
    font-family: impact;
    font-size: 15px;
    font-stretch: wider;
}
.sidebar {
    margin: left 10px;
    width:150px;
    padding-right: 10px;
}
#thew {
    width: 50px;
    height: 50px;
}
#crashbutton {
    background-color:crimson;
    color:black;
    font-size:medium;
    font-family: impact;
    padding-top:20px;
}
.main-content {
    background-color: gainsboro;
    left: auto;
    width:fit-content;
    padding: 30px;
}
#submitbutton {
    color:darkorchid;
    font-family: impact
}
#travel {
    position:absolute;
    right:0%;
    top: 10%;
    
}